body {
  height: 100%;
}
img {
  width: 20%;
  align-items: center;
  margin: calc(12% / 6);
  border: 2px solid black;
  box-shadow: 10px 5px 5px rgb(206, 204, 204);
}

nav {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  margin-left: calc(10% / 6);
  padding: 1.2em 0;
  color: gray;
}
